<article class="flex flex-col gap-4 items-center bg-white p-4 rounded-lg w-full">
    <form action="#" method="POST" class="flex flex-col gap-4 w-full">

        <div class="flex flex-col sm:flex-row gap-4">
            <div class="flex flex-col gap-2">
                <label for="inputNombre">Nombre</label>
                <input type="text" id="inputNombre" placeholder="Nombre" class="border border-neutral-600 rounded-md p-2">
            </div>

            <div class="flex flex-col gap-2">
                <label for="inputApellido">Apellido</label>
                <input type="text" id="inputApellido" placeholder="Apellido" class="border border-neutral-600 rounded-md p-2">
            </div>
        </div>


        <div class="flex flex-col gap-2">
            <label for="inputCorreo">E-mail</label>
            <input type="text" id="inputCorreo" placeholder="maxi@ejemplo.com" class="border border-neutral-600 rounded-md p-2">
        </div>
        

        <div class="flex flex-col gap-2">
            <label for="inputAsunto">Asunto</label>
            <input type="text" id="inputAsunto" placeholder="Asunto" class="border border-neutral-600 rounded-md p-2">
        </div>

        <div class="flex flex-col gap-2">
            <label for="areaMensaje">Mensaje</label>
            <textarea name="areaMensaje" id="areaMensaje" placeholder="Mensaje" class="border border-neutral-600 resize-none rounded-md p-2"></textarea>
        </div>        
    </form>

    <button type="submit" class="bg-blue-500 rounded-full px-4 py-1 cursor-pointer font-semibold text-white hover:bg-blue-600">
        Enviar Mensaje
    </button>

</article>