<header
    id="header"
    class="hidden lg:flex flex-col items-center justify-center border-r-1 border-white/20 min-h-screen bg-slate-950 w-max overflow-y-auto fixed top-0 left-0 z-50 lg:static lg:z-auto"    
>
    <div class="flex flex-col items-center gap-4 px-8 py-4 h-full">

        <div class="flex justify-center items-center">
            <img src="/recursos/images/header/header.webp" alt="Foto de perfil de Vladimir" class="h-[120px] w-[120px] rounded-full border-[6px] border-gray-600 object-cover">
        </div>


        <h1 class="font-semibold text-white">Vladimir Sanczuk</h1>


        <!-- Redes sociales -->
        <nav aria-label="Redes sociales">
            <ul class="flex gap-2">
                <li>
                    <a href="https://wa.me/5493535085437?text=Hola%20Vladimir%2C%20%C2%BFc%C3%B3mo%20est%C3%A1s%3F%20Te%20escribo%20desde%20tu%20portafolio" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center w-9 h-9 bg-blue-600/15 text-white rounded-full hover:bg-blue-500 transition-colors duration-300 ease-in-out">
                        <svg width="16" height="16">
                            <use xlink:href="/recursos/assets/svg/sprite.svg#whatsapp" />
                        </svg>
                    </a>
                </li>
                <!--
                <li>
                    <a href="https://www.instagram.com/vladimir.developer/" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center w-9 h-9 bg-blue-600/15 text-white rounded-full hover:bg-blue-500 transition-colors duration-300 ease-in-out">
                        <svg width="16" height="16">
                            <use xlink:href="/recursos/assets/svg/sprite.svg#instagram" />
                        </svg>
                    </a>
                </li>-->

                <li>
                    <a href="https://www.linkedin.com/in/vladimir-sanczuk-522987193/" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center w-9 h-9 bg-blue-600/15 text-white rounded-full hover:bg-blue-500 transition-colors duration-300 ease-in-out">
                        <svg width="16" height="16">
                            <use xlink:href="/recursos/assets/svg/sprite.svg#linkedin" />
                        </svg>
                    </a>
                </li>

                <!--
                <li>
                    <a href="https://github.com/VladimirSanczuk" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center w-9 h-9 bg-blue-600/15 text-white rounded-full hover:bg-blue-500 transition-colors duration-300 ease-in-out">
                        <svg width="16" height="16">
                            <use xlink:href="/recursos/assets/svg/sprite.svg#github" />
                        </svg>
                    </a>
                </li>-->
            </ul>
        </nav>


        <!-- Navigation -->
        <nav aria-label="Menú principal">
            <ul>

                <!-- Home -->
                <li>
                    <a href="#home" class="flex flex-row items-center w-full gap-3 py-4 px-3 text-white hover:text-blue-500 transition-colors duration-500 ease-in-out">
                        <svg width="20" height="20">
                            <use xlink:href="/recursos/assets/svg/sprite.svg#house" />
                        </svg>
                        <span>Home</span>
                    </a>
                </li>

                <!-- Sobre mi -->
                <li>
                    <a href="#sobre_mi" class="flex flex-row items-center w-full gap-3 py-4 px-3 text-white hover:text-blue-500 transition-colors duration-500 ease-in-out">
                        <svg width="20" height="20">
                            <use xlink:href="/recursos/assets/svg/sprite.svg#cuenta" />
                        </svg>
                        <span>Sobre mi</span>
                    </a>
                </li>

                <!-- Proyectos -->
                <li>
                    <a href="#proyectos" class="flex flex-row items-center w-full gap-3 py-4 px-3 text-white hover:text-blue-500 transition-colors duration-500 ease-in-out">
                        <svg width="20" height="20">
                            <use xlink:href="/recursos/assets/svg/sprite.svg#proyectos" />
                        </svg>
                        <span>Proyectos</span>            
                    </a>
                </li>          
            
                <!-- Habilidades -->
                <li>
                    <a href="#habilidades" class="flex flex-row items-center w-full gap-3 py-4 px-3 text-white hover:text-blue-500 transition-colors duration-500 ease-in-out">
                        <svg width="20" height="20">
                            <use xlink:href="/recursos/assets/svg/sprite.svg#habilidades" />
                        </svg>
                        <span>Habilidades</span>
                    </a>
                </li>

                <!-- Contacto -->
                <li>
                    <a href="#contacto" class="flex flex-row items-center w-full gap-3 py-4 px-3 text-white hover:text-blue-500 transition-colors duration-500 ease-in-out">
                        <svg width="20" height="20">
                            <use xlink:href="/recursos/assets/svg/sprite.svg#message" />
                        </svg>
                        <span>Contacto</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
    
</header>